.sidebar {
  position: sticky;
  top: var(--ifm-navbar-height);
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  margin-left: -20px;
  padding: 20px 12px 0 0;
  overflow-y: auto;
}

.sidebarHeader {
  display: block;
  padding-left: 12px;
  font-weight: var(--ifm-font-weight-bold);
  font-size: var(--ifm-h4-font-size);
}

.sidebarItemTitle {
  margin: 0.75rem 0 0.5rem;
  padding-bottom: 4px;
  padding-left: 12px;
  color: var(--subtle);
  border-bottom: 0.01rem solid var(--ifm-table-border-color);
}

.sidebarItemList {
  font-size: 14px;
}

.sidebarItem {
  margin-top: 0.1rem;
  line-height: 18px;
}

.sidebarItemLink {
  display: block;
  padding: 4px 8px;
  color: var(--ifm-font-color-base);
  line-height: 18px;
  border-left: 4px solid transparent;
  border-radius: 0.25rem;
}

.sidebarItemLink:hover {
  color: var(--ifm-font-color-base);
  text-decoration: none;
  background: var(--ifm-menu-color-background-active);
}

.sidebarItemLinkActive {
  color: var(--ifm-font-color-base);
  font-weight: 700;
  background: var(--ifm-menu-color-background-active);
  border-left-color: var(--ifm-menu-color-active);
}

@media (max-width: 996px) {
  .sidebar {
    display: none;
  }
}
